.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }
  
  .login-container .logo {
    width: 151px;
    height: 60px;
  }
  
  .login-container h1 {
   font-size:  calc(1.375rem + 1.5vw);
    margin-bottom: 0.5rem;
    margin-top: 0;
    color:#000000;
    font-weight: 500;
    line-height: 1.2;
    
  }
  
  .login-container p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    margin-bottom: 0.3rem;
  }
  
  .form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    /* transition: border-color 0.3s ease-in-out; */
  }
  .form-group input:focus {
    border-color: #007bff;
    outline: none;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #007bff;
    margin-bottom: 1rem;
  }
  
  .actions input {
    margin-right: 0.5rem;
  }
  .actions a {
    text-decoration: none;
    color: #007bff;
  }
  
  .login-btn {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 0.8rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
  }
  
  .login-btn:hover {
    background: #0056b3;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
